services:
  - type: web
    name: contasmart-pro
    env: python
    region: oregon
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: contasmart-db
          property: connectionString
    plan: free

databases:
  - name: contasmart-db
    plan: free
    databaseName: contasmart
    user: contasmart_user